body {
background-color: #928052;
color: #6d3219;
font-size: 200%;
font-family: 'Labrada', serif;
padding: 100px; 
width: auto;

}
h1, h2, h3, h4, h5 {
    font-family:'Gloock', serif;
    text-align: center;
}
h2 {
    font-size: 40pt;
    margin: 1rem;
}
header {
    text-align: center;
}
/*Hobbies*/

#hobbies {
    text-align: center;
    background-color: #e4c692;
    border: 8px solid #6b5c41;
    margin-top: 20fr;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Hero*/

#hero, footer {
    background-color:#e4c692 ;
    border: 8px solid #6b5c41;
    text-align: center;
}
/*Gallery*/

#gallery {
    border: 8px solid #6b5c41;
    background-color: #e4c692;
    margin-top: 20px;
    text-align: center;
}

/* Photos */

#gallery img {
    max-width: 100%;
}

#lit {
    border: 8px solid #6b5c41;
    margin-top:  20px;;
    margin-bottom: 20px;
    background-color: #e4c692; 
    margin:center;
}
#lit div {
    padding: 1rem;
    max-width: 150rem;
    margin: 0 auto;
}

/* Dropcaps */

#lit div p:first-child:first-letter {
    color:#0a0604;
    float:left;
    font-size: 4rem;
}
/* Media */
 @media screen and (min-width: 60em) {
figure {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
    
figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem
}
    figure img {
        width: 100%;
    }

    #lit div {
        max-width: 100%;
        columns: 40rem;
    }

}
    @media screen and (min-width: 100em) {
        
        #gallery {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        hr {
            display: none;
        }
        #gallery h2 {
            grid-column: 1/-1;
        }

        figure {
            display: block;
        }
    }

 